.green{
    background-color: #7dc638;
    color: white;
    font-size: 20px;
}

.red{
    background-color: #e4664d;
    color: white;
    font-size: 20px;
}

.blue{
    background-color: #4dc4e4;
    color: white;
    font-size: 20px;
}